<form [formGroup]="formGroup" *ngIf="student">
    <table cellspacing="0">
        <tr>
            <td>
                <mat-form-field *ngIf="modifyForm">
                    <mat-label>Name</mat-label>
                        <input type="text" matInput value="{{student.name}}" formControlName="name" />
                        <mat-error *ngIf="!formGroup.controls.name.hasError('required')">
                            Name is <strong>At least 2</strong>
                        </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="!modifyForm">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput value="{{student.name}}" [disabled]="modifyForm? null: true" />
                </mat-form-field>
            </td>
        </tr>
    </table>
    <button (click)="handleModifyForm()">test</button>
</form>